.device-border {
  -o-animation: device-border 12s infinite alternate backwards ease-in-out;
  -moz-animation: device-border 12s infinite alternate backwards ease-in-out;
  -webkit-animation: device-border 12s infinite alternate backwards ease-in-out;
  animation: device-border 12s infinite alternate backwards ease-in-out;
}

.resizable {
  -o-animation: resizable 12s infinite alternate backwards ease-in-out;
  -moz-animation: resizable 12s infinite alternate backwards ease-in-out;
  -webkit-animation: resizable 12s infinite alternate backwards ease-in-out;
  animation: resizable 12s infinite alternate backwards ease-in-out;
}

.nav-dark {
  -o-animation: nav-dark 12s infinite alternate backwards ease-in-out;
  -moz-animation: nav-dark 12s infinite alternate backwards ease-in-out;
  -webkit-animation: nav-dark 12s infinite alternate backwards ease-in-out;
  animation: nav-dark 12s infinite alternate backwards ease-in-out;
}

.nav-light {
  -o-animation: nav-light 12s infinite alternate backwards ease-in-out;
  -moz-animation: nav-light 12s infinite alternate backwards ease-in-out;
  -webkit-animation: nav-light 12s infinite alternate backwards ease-in-out;
  animation: nav-light 12s infinite alternate backwards ease-in-out;
}

.sidebar {
  -o-animation: sidebar 12s infinite alternate backwards ease-in-out;
  -moz-animation: sidebar 12s infinite alternate backwards ease-in-out;
  -webkit-animation: sidebar 12s infinite alternate backwards ease-in-out;
  animation: sidebar 12s infinite alternate backwards ease-in-out;
}

.body {
  -o-animation: body 12s infinite alternate backwards ease-in-out;
  -moz-animation: body 12s infinite alternate backwards ease-in-out;
  -webkit-animation: body 12s infinite alternate backwards ease-in-out;
  animation: body 12s infinite alternate backwards ease-in-out;
}

.hero {
  -o-animation: hero 12s infinite alternate backwards ease-in-out;
  -moz-animation: hero 12s infinite alternate backwards ease-in-out;
  -webkit-animation: hero 12s infinite alternate backwards ease-in-out;
  animation: hero 12s infinite alternate backwards ease-in-out;
}

.proj-1 {
  -o-animation: proj-1 12s infinite alternate backwards ease-in-out;
  -moz-animation: proj-1 12s infinite alternate backwards ease-in-out;
  -webkit-animation: proj-1 12s infinite alternate backwards ease-in-out;
  animation: proj-1 12s infinite alternate backwards ease-in-out;
}

.proj-2 {
  -o-animation: proj-2 12s infinite alternate backwards ease-in-out;
  -moz-animation: proj-2 12s infinite alternate backwards ease-in-out;
  -webkit-animation: proj-2 12s infinite alternate backwards ease-in-out;
  animation: proj-2 12s infinite alternate backwards ease-in-out;
}

.proj-3 {
  -o-animation: proj-3 12s infinite alternate backwards ease-in-out;
  -moz-animation: proj-3 12s infinite alternate backwards ease-in-out;
  -webkit-animation: proj-3 12s infinite alternate backwards ease-in-out;
  animation: proj-3 12s infinite alternate backwards ease-in-out;
}

.caption {
  -o-animation: caption 12s infinite alternate backwards ease-in-out;
  -moz-animation: caption 12s infinite alternate backwards ease-in-out;
  -webkit-animation: caption 12s infinite alternate backwards ease-in-out;
  animation: caption 12s infinite alternate backwards ease-in-out;
}

.webcam {
  -o-animation: webcam 12s infinite alternate backwards ease-in-out;
  -moz-animation: webcam 12s infinite alternate backwards ease-in-out;
  -webkit-animation: webcam 12s infinite alternate backwards ease-in-out;
  animation: webcam 12s infinite alternate backwards ease-in-out;
}


.resize-box {
  height: 371px;
  width: 700px;
  margin: 30px auto;
}

.device-border {
  border-radius: 10px;
  border: 30px solid black;
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  background: white;
}

.resizable {
  -moz-transform-origin: 50% 0%;
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  display: block;
  margin: 5px auto -2px;
  width: 500px;
}

.screen-mask {
  display: block;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.nav-light {
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.webcam {
  background: #0079c2;
  border-radius: 50%;
  display: block;
  height: 5px;
  margin: 10px auto -20px;
  position: relative;
  width: 5px;
}

@-o-keyframes device-border {
  0% {
    height: 100%;
    width: 100%;
  }
  20% {
    width: 72%;
  }
  65% {
    border: 15px solid black;
    border-bottom: 30px solid black;
    border-radius: 10px;
    border-top: 30px solid black;
    height: 85%;
    width: 36.5%;
  }
  100% {
    border: 10px solid black;
    border-bottom: 30px solid black;
    border-radius: 5px;
    border-top: 25px solid black;
    height: 50%;
    width: 15%;
  }
}
@-moz-keyframes device-border {
  0% {
    height: 100%;
    width: 100%;
  }
  20% {
    width: 72%;
  }
  65% {
    border: 15px solid black;
    border-bottom: 30px solid black;
    border-radius: 10px;
    border-top: 30px solid black;
    height: 85%;
    width: 36.5%;
  }
  100% {
    border: 10px solid black;
    border-bottom: 30px solid black;
    border-radius: 5px;
    border-top: 25px solid black;
    height: 50%;
    width: 15%;
  }
}
@-webkit-keyframes device-border {
  0% {
    height: 100%;
    width: 100%;
  }
  20% {
    width: 72%;
  }
  65% {
    border: 15px solid black;
    border-bottom: 30px solid black;
    border-radius: 10px;
    border-top: 30px solid black;
    height: 85%;
    width: 36.5%;
  }
  100% {
    border: 10px solid black;
    border-bottom: 30px solid black;
    border-radius: 5px;
    border-top: 25px solid black;
    height: 50%;
    width: 15%;
  }
}
@keyframes device-border {
  0% {
    height: 100%;
    width: 100%;
  }
  20% {
    width: 72%;
  }
  65% {
    border: 15px solid black;
    border-bottom: 30px solid black;
    border-radius: 10px;
    border-top: 30px solid black;
    height: 85%;
    width: 36.5%;
  }
  100% {
    border: 10px solid black;
    border-bottom: 30px solid black;
    border-radius: 5px;
    border-top: 25px solid black;
    height: 50%;
    width: 15%;
  }
}
@-o-keyframes resizable {
  0% {
    margin: 5px auto -2px;
    width: 500px;
  }
  20% {
    width: 95%;
  }
  35% {
    width: 500px;
  }
  65% {
    width: 500px;
  }
}
@-moz-keyframes resizable {
  0% {
    margin: 5px auto -2px;
    width: 500px;
  }
  20% {
    width: 95%;
  }
  35% {
    width: 500px;
  }
  65% {
    width: 500px;
  }
}
@-webkit-keyframes resizable {
  0% {
    margin: 5px auto -2px;
    width: 500px;
  }
  20% {
    width: 95%;
  }
  35% {
    width: 500px;
  }
  65% {
    width: 500px;
  }
}
@keyframes resizable {
  0% {
    margin: 5px auto -2px;
    width: 500px;
  }
  20% {
    width: 95%;
  }
  35% {
    width: 500px;
  }
  65% {
    width: 500px;
  }
}
@-o-keyframes nav-dark {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(0.6);
    -ms-transform: scaleX(0.6);
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
  }
  65% {
    -moz-transform: scaleX(0.4);
    -ms-transform: scaleX(0.4);
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -moz-transform: scaleX(0.28);
    -ms-transform: scaleX(0.28);
    -webkit-transform: scaleX(0.28);
    transform: scaleX(0.28);
  }
}
@-moz-keyframes nav-dark {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(0.6);
    -ms-transform: scaleX(0.6);
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
  }
  65% {
    -moz-transform: scaleX(0.4);
    -ms-transform: scaleX(0.4);
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -moz-transform: scaleX(0.28);
    -ms-transform: scaleX(0.28);
    -webkit-transform: scaleX(0.28);
    transform: scaleX(0.28);
  }
}
@-webkit-keyframes nav-dark {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(0.6);
    -ms-transform: scaleX(0.6);
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
  }
  65% {
    -moz-transform: scaleX(0.4);
    -ms-transform: scaleX(0.4);
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -moz-transform: scaleX(0.28);
    -ms-transform: scaleX(0.28);
    -webkit-transform: scaleX(0.28);
    transform: scaleX(0.28);
  }
}
@keyframes nav-dark {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(0.6);
    -ms-transform: scaleX(0.6);
    -webkit-transform: scaleX(0.6);
    transform: scaleX(0.6);
  }
  65% {
    -moz-transform: scaleX(0.4);
    -ms-transform: scaleX(0.4);
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -moz-transform: scaleX(0.28);
    -ms-transform: scaleX(0.28);
    -webkit-transform: scaleX(0.28);
    transform: scaleX(0.28);
  }
}
@-o-keyframes nav-light {
  0% {
    -moz-transform: translateX(0px) scaleX(1);
    -ms-transform: translateX(0px) scaleX(1);
    -webkit-transform: translateX(0px) scaleX(1);
    transform: translateX(0px) scaleX(1);
  }
  25% {
    -moz-transform: translateX(0px) scaleX(1);
    -ms-transform: translateX(0px) scaleX(1);
    -webkit-transform: translateX(0px) scaleX(1);
    transform: translateX(0px) scaleX(1);
  }
  30% {
    -moz-transform: translateX(-50px) scaleX(0.75);
    -ms-transform: translateX(-50px) scaleX(0.75);
    -webkit-transform: translateX(-50px) scaleX(0.75);
    transform: translateX(-50px) scaleX(0.75);
  }
  65% {
    -moz-transform: translateX(-83px) scaleX(0.48);
    -ms-transform: translateX(-83px) scaleX(0.48);
    -webkit-transform: translateX(-83px) scaleX(0.48);
    transform: translateX(-83px) scaleX(0.48);
  }
  100% {
    -moz-transform: translateX(-100px) scaleX(0.18);
    -ms-transform: translateX(-100px) scaleX(0.18);
    -webkit-transform: translateX(-100px) scaleX(0.18);
    transform: translateX(-100px) scaleX(0.18);
  }
}
@-moz-keyframes nav-light {
  0% {
    -moz-transform: translateX(0px) scaleX(1);
    -ms-transform: translateX(0px) scaleX(1);
    -webkit-transform: translateX(0px) scaleX(1);
    transform: translateX(0px) scaleX(1);
  }
  25% {
    -moz-transform: translateX(0px) scaleX(1);
    -ms-transform: translateX(0px) scaleX(1);
    -webkit-transform: translateX(0px) scaleX(1);
    transform: translateX(0px) scaleX(1);
  }
  30% {
    -moz-transform: translateX(-50px) scaleX(0.75);
    -ms-transform: translateX(-50px) scaleX(0.75);
    -webkit-transform: translateX(-50px) scaleX(0.75);
    transform: translateX(-50px) scaleX(0.75);
  }
  65% {
    -moz-transform: translateX(-83px) scaleX(0.48);
    -ms-transform: translateX(-83px) scaleX(0.48);
    -webkit-transform: translateX(-83px) scaleX(0.48);
    transform: translateX(-83px) scaleX(0.48);
  }
  100% {
    -moz-transform: translateX(-100px) scaleX(0.18);
    -ms-transform: translateX(-100px) scaleX(0.18);
    -webkit-transform: translateX(-100px) scaleX(0.18);
    transform: translateX(-100px) scaleX(0.18);
  }
}
@-webkit-keyframes nav-light {
  0% {
    -moz-transform: translateX(0px) scaleX(1);
    -ms-transform: translateX(0px) scaleX(1);
    -webkit-transform: translateX(0px) scaleX(1);
    transform: translateX(0px) scaleX(1);
  }
  25% {
    -moz-transform: translateX(0px) scaleX(1);
    -ms-transform: translateX(0px) scaleX(1);
    -webkit-transform: translateX(0px) scaleX(1);
    transform: translateX(0px) scaleX(1);
  }
  30% {
    -moz-transform: translateX(-50px) scaleX(0.75);
    -ms-transform: translateX(-50px) scaleX(0.75);
    -webkit-transform: translateX(-50px) scaleX(0.75);
    transform: translateX(-50px) scaleX(0.75);
  }
  65% {
    -moz-transform: translateX(-83px) scaleX(0.48);
    -ms-transform: translateX(-83px) scaleX(0.48);
    -webkit-transform: translateX(-83px) scaleX(0.48);
    transform: translateX(-83px) scaleX(0.48);
  }
  100% {
    -moz-transform: translateX(-100px) scaleX(0.18);
    -ms-transform: translateX(-100px) scaleX(0.18);
    -webkit-transform: translateX(-100px) scaleX(0.18);
    transform: translateX(-100px) scaleX(0.18);
  }
}
@keyframes nav-light {
  0% {
    -moz-transform: translateX(0px) scaleX(1);
    -ms-transform: translateX(0px) scaleX(1);
    -webkit-transform: translateX(0px) scaleX(1);
    transform: translateX(0px) scaleX(1);
  }
  25% {
    -moz-transform: translateX(0px) scaleX(1);
    -ms-transform: translateX(0px) scaleX(1);
    -webkit-transform: translateX(0px) scaleX(1);
    transform: translateX(0px) scaleX(1);
  }
  30% {
    -moz-transform: translateX(-50px) scaleX(0.75);
    -ms-transform: translateX(-50px) scaleX(0.75);
    -webkit-transform: translateX(-50px) scaleX(0.75);
    transform: translateX(-50px) scaleX(0.75);
  }
  65% {
    -moz-transform: translateX(-83px) scaleX(0.48);
    -ms-transform: translateX(-83px) scaleX(0.48);
    -webkit-transform: translateX(-83px) scaleX(0.48);
    transform: translateX(-83px) scaleX(0.48);
  }
  100% {
    -moz-transform: translateX(-100px) scaleX(0.18);
    -ms-transform: translateX(-100px) scaleX(0.18);
    -webkit-transform: translateX(-100px) scaleX(0.18);
    transform: translateX(-100px) scaleX(0.18);
  }
}
@-o-keyframes sidebar {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
@-moz-keyframes sidebar {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
@-webkit-keyframes sidebar {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
@keyframes sidebar {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
@-o-keyframes body {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    -moz-transform: translateX(8%);
    -ms-transform: translateX(8%);
    -webkit-transform: translateX(8%);
    transform: translateX(8%);
  }
  65% {
    -moz-transform: translateX(2%);
    -ms-transform: translateX(2%);
    -webkit-transform: translateX(2%);
    transform: translateX(2%);
  }
}
@-moz-keyframes body {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    -moz-transform: translateX(8%);
    -ms-transform: translateX(8%);
    -webkit-transform: translateX(8%);
    transform: translateX(8%);
  }
  65% {
    -moz-transform: translateX(2%);
    -ms-transform: translateX(2%);
    -webkit-transform: translateX(2%);
    transform: translateX(2%);
  }
}
@-webkit-keyframes body {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    -moz-transform: translateX(8%);
    -ms-transform: translateX(8%);
    -webkit-transform: translateX(8%);
    transform: translateX(8%);
  }
  65% {
    -moz-transform: translateX(2%);
    -ms-transform: translateX(2%);
    -webkit-transform: translateX(2%);
    transform: translateX(2%);
  }
}
@keyframes body {
  0% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  25% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    -moz-transform: translateX(8%);
    -ms-transform: translateX(8%);
    -webkit-transform: translateX(8%);
    transform: translateX(8%);
  }
  65% {
    -moz-transform: translateX(2%);
    -ms-transform: translateX(2%);
    -webkit-transform: translateX(2%);
    transform: translateX(2%);
  }
}
@-o-keyframes hero {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0) scaleY(1);
    -ms-transform: scaleX(0.65) translateY(0) scaleY(1);
    -webkit-transform: scaleX(0.65) translateY(0) scaleY(1);
    transform: scaleX(0.65) translateY(0) scaleY(1);
  }
  100% {
    -moz-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    -ms-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    -webkit-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    transform: scaleX(0.3) translateY(3px) scaleY(0.8);
  }
}
@-moz-keyframes hero {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0) scaleY(1);
    -ms-transform: scaleX(0.65) translateY(0) scaleY(1);
    -webkit-transform: scaleX(0.65) translateY(0) scaleY(1);
    transform: scaleX(0.65) translateY(0) scaleY(1);
  }
  100% {
    -moz-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    -ms-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    -webkit-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    transform: scaleX(0.3) translateY(3px) scaleY(0.8);
  }
}
@-webkit-keyframes hero {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0) scaleY(1);
    -ms-transform: scaleX(0.65) translateY(0) scaleY(1);
    -webkit-transform: scaleX(0.65) translateY(0) scaleY(1);
    transform: scaleX(0.65) translateY(0) scaleY(1);
  }
  100% {
    -moz-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    -ms-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    -webkit-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    transform: scaleX(0.3) translateY(3px) scaleY(0.8);
  }
}
@keyframes hero {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0) scaleY(1);
    -ms-transform: scaleX(0.65) translateY(0) scaleY(1);
    -webkit-transform: scaleX(0.65) translateY(0) scaleY(1);
    transform: scaleX(0.65) translateY(0) scaleY(1);
  }
  100% {
    -moz-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    -ms-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    -webkit-transform: scaleX(0.3) translateY(3px) scaleY(0.8);
    transform: scaleX(0.3) translateY(3px) scaleY(0.8);
  }
}
@-o-keyframes proj-1 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0px);
    -ms-transform: scaleX(0.65) translateY(0px);
    -webkit-transform: scaleX(0.65) translateY(0px);
    transform: scaleX(0.65) translateY(0px);
  }
  75% {
    -moz-transform: scaleX(0.85) translateY(-10px);
    -ms-transform: scaleX(0.85) translateY(-10px);
    -webkit-transform: scaleX(0.85) translateY(-10px);
    transform: scaleX(0.85) translateY(-10px);
  }
  90% {
    -moz-transform: scaleX(0.58) translateY(-25px);
    -ms-transform: scaleX(0.58) translateY(-25px);
    -webkit-transform: scaleX(0.58) translateY(-25px);
    transform: scaleX(0.58) translateY(-25px);
  }
  100% {
    -moz-transform: scaleX(1.2) translateY(-35px);
    -ms-transform: scaleX(1.2) translateY(-35px);
    -webkit-transform: scaleX(1.2) translateY(-35px);
    transform: scaleX(1.2) translateY(-35px);
  }
}
@-moz-keyframes proj-1 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0px);
    -ms-transform: scaleX(0.65) translateY(0px);
    -webkit-transform: scaleX(0.65) translateY(0px);
    transform: scaleX(0.65) translateY(0px);
  }
  75% {
    -moz-transform: scaleX(0.85) translateY(-10px);
    -ms-transform: scaleX(0.85) translateY(-10px);
    -webkit-transform: scaleX(0.85) translateY(-10px);
    transform: scaleX(0.85) translateY(-10px);
  }
  90% {
    -moz-transform: scaleX(0.58) translateY(-25px);
    -ms-transform: scaleX(0.58) translateY(-25px);
    -webkit-transform: scaleX(0.58) translateY(-25px);
    transform: scaleX(0.58) translateY(-25px);
  }
  100% {
    -moz-transform: scaleX(1.2) translateY(-35px);
    -ms-transform: scaleX(1.2) translateY(-35px);
    -webkit-transform: scaleX(1.2) translateY(-35px);
    transform: scaleX(1.2) translateY(-35px);
  }
}
@-webkit-keyframes proj-1 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0px);
    -ms-transform: scaleX(0.65) translateY(0px);
    -webkit-transform: scaleX(0.65) translateY(0px);
    transform: scaleX(0.65) translateY(0px);
  }
  75% {
    -moz-transform: scaleX(0.85) translateY(-10px);
    -ms-transform: scaleX(0.85) translateY(-10px);
    -webkit-transform: scaleX(0.85) translateY(-10px);
    transform: scaleX(0.85) translateY(-10px);
  }
  90% {
    -moz-transform: scaleX(0.58) translateY(-25px);
    -ms-transform: scaleX(0.58) translateY(-25px);
    -webkit-transform: scaleX(0.58) translateY(-25px);
    transform: scaleX(0.58) translateY(-25px);
  }
  100% {
    -moz-transform: scaleX(1.2) translateY(-35px);
    -ms-transform: scaleX(1.2) translateY(-35px);
    -webkit-transform: scaleX(1.2) translateY(-35px);
    transform: scaleX(1.2) translateY(-35px);
  }
}
@keyframes proj-1 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0px);
    -ms-transform: scaleX(0.65) translateY(0px);
    -webkit-transform: scaleX(0.65) translateY(0px);
    transform: scaleX(0.65) translateY(0px);
  }
  75% {
    -moz-transform: scaleX(0.85) translateY(-10px);
    -ms-transform: scaleX(0.85) translateY(-10px);
    -webkit-transform: scaleX(0.85) translateY(-10px);
    transform: scaleX(0.85) translateY(-10px);
  }
  90% {
    -moz-transform: scaleX(0.58) translateY(-25px);
    -ms-transform: scaleX(0.58) translateY(-25px);
    -webkit-transform: scaleX(0.58) translateY(-25px);
    transform: scaleX(0.58) translateY(-25px);
  }
  100% {
    -moz-transform: scaleX(1.2) translateY(-35px);
    -ms-transform: scaleX(1.2) translateY(-35px);
    -webkit-transform: scaleX(1.2) translateY(-35px);
    transform: scaleX(1.2) translateY(-35px);
  }
}
@-o-keyframes proj-2 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0px);
    -ms-transform: scaleX(0.65) translateY(0px);
    -webkit-transform: scaleX(0.65) translateY(0px);
    transform: scaleX(0.65) translateY(0px);
  }
  75% {
    -moz-transform: scaleX(0.85) translateY(-10px);
    -ms-transform: scaleX(0.85) translateY(-10px);
    -webkit-transform: scaleX(0.85) translateY(-10px);
    transform: scaleX(0.85) translateY(-10px);
    opacity: 1;
  }
  90% {
    opacity: 1;
    -moz-transform: scaleX(0.58) translateY(-25px);
    -ms-transform: scaleX(0.58) translateY(-25px);
    -webkit-transform: scaleX(0.58) translateY(-25px);
    transform: scaleX(0.58) translateY(-25px);
  }
  93% {
    opacity: 0;
    -moz-transform: scaleX(0.6) translateY(-30px);
    -ms-transform: scaleX(0.6) translateY(-30px);
    -webkit-transform: scaleX(0.6) translateY(-30px);
    transform: scaleX(0.6) translateY(-30px);
  }
  100% {
    opacity: 1;
    -moz-transform: scaleX(1.2) translateY(-35px);
    -ms-transform: scaleX(1.2) translateY(-35px);
    -webkit-transform: scaleX(1.2) translateY(-35px);
    transform: scaleX(1.2) translateY(-35px);
  }
}
@-moz-keyframes proj-2 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0px);
    -ms-transform: scaleX(0.65) translateY(0px);
    -webkit-transform: scaleX(0.65) translateY(0px);
    transform: scaleX(0.65) translateY(0px);
  }
  75% {
    -moz-transform: scaleX(0.85) translateY(-10px);
    -ms-transform: scaleX(0.85) translateY(-10px);
    -webkit-transform: scaleX(0.85) translateY(-10px);
    transform: scaleX(0.85) translateY(-10px);
    opacity: 1;
  }
  90% {
    opacity: 1;
    -moz-transform: scaleX(0.58) translateY(-25px);
    -ms-transform: scaleX(0.58) translateY(-25px);
    -webkit-transform: scaleX(0.58) translateY(-25px);
    transform: scaleX(0.58) translateY(-25px);
  }
  93% {
    opacity: 0;
    -moz-transform: scaleX(0.6) translateY(-30px);
    -ms-transform: scaleX(0.6) translateY(-30px);
    -webkit-transform: scaleX(0.6) translateY(-30px);
    transform: scaleX(0.6) translateY(-30px);
  }
  100% {
    opacity: 1;
    -moz-transform: scaleX(1.2) translateY(-35px);
    -ms-transform: scaleX(1.2) translateY(-35px);
    -webkit-transform: scaleX(1.2) translateY(-35px);
    transform: scaleX(1.2) translateY(-35px);
  }
}
@-webkit-keyframes proj-2 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0px);
    -ms-transform: scaleX(0.65) translateY(0px);
    -webkit-transform: scaleX(0.65) translateY(0px);
    transform: scaleX(0.65) translateY(0px);
  }
  75% {
    -moz-transform: scaleX(0.85) translateY(-10px);
    -ms-transform: scaleX(0.85) translateY(-10px);
    -webkit-transform: scaleX(0.85) translateY(-10px);
    transform: scaleX(0.85) translateY(-10px);
    opacity: 1;
  }
  90% {
    opacity: 1;
    -moz-transform: scaleX(0.58) translateY(-25px);
    -ms-transform: scaleX(0.58) translateY(-25px);
    -webkit-transform: scaleX(0.58) translateY(-25px);
    transform: scaleX(0.58) translateY(-25px);
  }
  93% {
    opacity: 0;
    -moz-transform: scaleX(0.6) translateY(-30px);
    -ms-transform: scaleX(0.6) translateY(-30px);
    -webkit-transform: scaleX(0.6) translateY(-30px);
    transform: scaleX(0.6) translateY(-30px);
  }
  100% {
    opacity: 1;
    -moz-transform: scaleX(1.2) translateY(-35px);
    -ms-transform: scaleX(1.2) translateY(-35px);
    -webkit-transform: scaleX(1.2) translateY(-35px);
    transform: scaleX(1.2) translateY(-35px);
  }
}
@keyframes proj-2 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) translateY(0px);
    -ms-transform: scaleX(0.65) translateY(0px);
    -webkit-transform: scaleX(0.65) translateY(0px);
    transform: scaleX(0.65) translateY(0px);
  }
  75% {
    -moz-transform: scaleX(0.85) translateY(-10px);
    -ms-transform: scaleX(0.85) translateY(-10px);
    -webkit-transform: scaleX(0.85) translateY(-10px);
    transform: scaleX(0.85) translateY(-10px);
    opacity: 1;
  }
  90% {
    opacity: 1;
    -moz-transform: scaleX(0.58) translateY(-25px);
    -ms-transform: scaleX(0.58) translateY(-25px);
    -webkit-transform: scaleX(0.58) translateY(-25px);
    transform: scaleX(0.58) translateY(-25px);
  }
  93% {
    opacity: 0;
    -moz-transform: scaleX(0.6) translateY(-30px);
    -ms-transform: scaleX(0.6) translateY(-30px);
    -webkit-transform: scaleX(0.6) translateY(-30px);
    transform: scaleX(0.6) translateY(-30px);
  }
  100% {
    opacity: 1;
    -moz-transform: scaleX(1.2) translateY(-35px);
    -ms-transform: scaleX(1.2) translateY(-35px);
    -webkit-transform: scaleX(1.2) translateY(-35px);
    transform: scaleX(1.2) translateY(-35px);
  }
}
@-o-keyframes proj-3 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) scaleY(1);
    -ms-transform: scaleX(0.65) scaleY(1);
    -webkit-transform: scaleX(0.65) scaleY(1);
    transform: scaleX(0.65) scaleY(1);
    opacity: 1;
  }
  75% {
    opacity: 0;
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  100% {
    opacity: 1;
    -moz-transform: scaleX(1) scaleY(0.8);
    -ms-transform: scaleX(1) scaleY(0.8);
    -webkit-transform: scaleX(1) scaleY(0.8);
    transform: scaleX(1) scaleY(0.8);
  }
}
@-moz-keyframes proj-3 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) scaleY(1);
    -ms-transform: scaleX(0.65) scaleY(1);
    -webkit-transform: scaleX(0.65) scaleY(1);
    transform: scaleX(0.65) scaleY(1);
    opacity: 1;
  }
  75% {
    opacity: 0;
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  100% {
    opacity: 1;
    -moz-transform: scaleX(1) scaleY(0.8);
    -ms-transform: scaleX(1) scaleY(0.8);
    -webkit-transform: scaleX(1) scaleY(0.8);
    transform: scaleX(1) scaleY(0.8);
  }
}
@-webkit-keyframes proj-3 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) scaleY(1);
    -ms-transform: scaleX(0.65) scaleY(1);
    -webkit-transform: scaleX(0.65) scaleY(1);
    transform: scaleX(0.65) scaleY(1);
    opacity: 1;
  }
  75% {
    opacity: 0;
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  100% {
    opacity: 1;
    -moz-transform: scaleX(1) scaleY(0.8);
    -ms-transform: scaleX(1) scaleY(0.8);
    -webkit-transform: scaleX(1) scaleY(0.8);
    transform: scaleX(1) scaleY(0.8);
  }
}
@keyframes proj-3 {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65) scaleY(1);
    -ms-transform: scaleX(0.65) scaleY(1);
    -webkit-transform: scaleX(0.65) scaleY(1);
    transform: scaleX(0.65) scaleY(1);
    opacity: 1;
  }
  75% {
    opacity: 0;
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
  100% {
    opacity: 1;
    -moz-transform: scaleX(1) scaleY(0.8);
    -ms-transform: scaleX(1) scaleY(0.8);
    -webkit-transform: scaleX(1) scaleY(0.8);
    transform: scaleX(1) scaleY(0.8);
  }
}
@-o-keyframes caption {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65);
    -ms-transform: scaleX(0.65);
    -webkit-transform: scaleX(0.65);
    transform: scaleX(0.65);
  }
  100% {
    -moz-transform: scaleX(0.3);
    -ms-transform: scaleX(0.3);
    -webkit-transform: scaleX(0.3);
    transform: scaleX(0.3);
  }
}
@-moz-keyframes caption {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65);
    -ms-transform: scaleX(0.65);
    -webkit-transform: scaleX(0.65);
    transform: scaleX(0.65);
  }
  100% {
    -moz-transform: scaleX(0.3);
    -ms-transform: scaleX(0.3);
    -webkit-transform: scaleX(0.3);
    transform: scaleX(0.3);
  }
}
@-webkit-keyframes caption {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65);
    -ms-transform: scaleX(0.65);
    -webkit-transform: scaleX(0.65);
    transform: scaleX(0.65);
  }
  100% {
    -moz-transform: scaleX(0.3);
    -ms-transform: scaleX(0.3);
    -webkit-transform: scaleX(0.3);
    transform: scaleX(0.3);
  }
}
@keyframes caption {
  0% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  25% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  30% {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  65% {
    -moz-transform: scaleX(0.65);
    -ms-transform: scaleX(0.65);
    -webkit-transform: scaleX(0.65);
    transform: scaleX(0.65);
  }
  100% {
    -moz-transform: scaleX(0.3);
    -ms-transform: scaleX(0.3);
    -webkit-transform: scaleX(0.3);
    transform: scaleX(0.3);
  }
}
@-o-keyframes webcam {
  0% {
    background: #0079c2;
  }
  65% {
    border-radius: 50%;
    background: #0079c2;
    padding: 0;
    width: 5px;
  }
  100% {
    background: white;
    border-radius: 10px;
    width: 25px;
  }
}
@-moz-keyframes webcam {
  0% {
    background: #0079c2;
  }
  65% {
    border-radius: 50%;
    background: #0079c2;
    padding: 0;
    width: 5px;
  }
  100% {
    background: white;
    border-radius: 10px;
    width: 25px;
  }
}
@-webkit-keyframes webcam {
  0% {
    background: #0079c2;
  }
  65% {
    border-radius: 50%;
    background: #0079c2;
    padding: 0;
    width: 5px;
  }
  100% {
    background: white;
    border-radius: 10px;
    width: 25px;
  }
}
@keyframes webcam {
  0% {
    background: #0079c2;
  }
  65% {
    border-radius: 50%;
    background: #0079c2;
    padding: 0;
    width: 5px;
  }
  100% {
    background: white;
    border-radius: 10px;
    width: 25px;
  }
}
